.AppHeader-localBar .js-repo-nav ul li a:hover{
    background-color: transparent !important;
}
.AppHeader-localBar .js-repo-nav ul li, #js-repo-pjax-container button
{
    border: var(--btn-border) !important;
    border-radius: 3px !important;
    background: var(--btn-bg) !important;
    box-shadow: var(--btn-box-shadow) !important;
    color: #555 !important;
}
.AppHeader-localBar .js-repo-nav ul li:hover{
    background: var(--btn-hover) !important;
}
.AppHeader-localBar .js-repo-nav ul li:active{
    box-shadow: var(--btn-active-box-shadow) !important;
}
.AppHeader-localBar{
    appearance: toolbox !important;
}
.AppHeader-globalBar{
    background: #555;
}
.AppHeader-globalBar *{
    color: #fff !important;
    fill: #fff !important;
}
.AppHeader-searchButton{
    background: #f6f6f6 !important;
    border-color: #8e8f8f !important;
    box-shadow: inset 0 0 0 1px #f4f4f4, inset 1px 1px 0 1px #aeaeae, inset -1px -1px 0 1px #ddd, inset 3px 3px 6px #ccc !important;
}.AppHeader-searchButton:is(:hover, :active){
    background-color: #e9f7fe !important;
    box-shadow: inset 0 0 0 1px #def9fa, inset 1px 1px 0 1px #79c6f9, inset -1px -1px 0 1px #c6e9fc, inset 3px 3px 6px #b1dffd !important;
    border-color: #8e8f8f !important;
}

:is(.UnderlineNav-item.selected, .UnderlineNav-item[role="tab"][aria-selected="true"], .UnderlineNav-item[aria-current]:not([aria-current="false"]))::after{
    background: linear-gradient(transparent 30%, orange 70%, transparent) !important;
    height: 5px !important;

}
#qb-input-query{
opacity: 0 !important}
.AppHeader-searchButton, #query-builder-test-leadingvisual-wrap{
    fill: #0A84FF !important;
    position: relative !important;
}
.AppHeader-searchButton:before, #query-builder-test-leadingvisual-wrap:before{
    content: "" !important;
    display: inline-block !important;
    width: 16px !important;
    height: 16px !important;
    background-image: url('images/search.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    left: 3px;
    top: 7px;

}#query-builder-test-leadingvisual-wrap:before{
    left: 37px;
     top: 3px;

 }
.AppHeader-searchButton:after{
    content: "Find..." !important;
    display: inline-block !important;
    width: 16px !important;
    height: 16px !important;
    position: absolute;
    left: 25px;
    top: 6px;
    color: #666 !important;
}
.color-shadow-large{
    box-shadow:0 -2px 2px #fff, inset 0 0 0 1px  #fffc, 0 2px 5px 2px rgba(0, 0, 0, 0.8) !important;
    border-radius: 3px !important;
    background: grey !important;
}
.search-feedback-prompt{
    display: none !important;
}

ul[data-testid="filter-groups"] *,.react-tree-show-tree-items *, .js-left-column-scroll-container *, #dashboard-repos-filter-left::placeholder, div[aria-labelledby="search-filters-title"], #repos-file-tree{
    color: rgb(40, 65, 197) !important;
}
#dashboard-repos-filter-left{
    border: 1px solid #8e8f8f !important;
    outline: none !important;
    box-shadow: none !important;
    color: #444 !important;
}
.Button--primary.Button--small{
    color: #fff !important;

}
.AppHeader-globalBar .QueryBuilder-StyledInput{
    outline: none !important;
    background-color: #e9f7fe !important;
    box-shadow: inset 0 0 0 1px #def9fa, inset 1px 1px 0 1px #79c6f9, inset -1px -1px 0 1px #c6e9fc, inset 3px 3px 6px #b1dffd !important;
}
.AppHeader-globalBar :is(#query-builder-test, .qb-filter-value){
    color: black !important;
}
.ActionListItem-label .qb-filter-value{
    margin-left: 2px !important;
}
#query-builder-test-leadingvisual-wrap{
    transform: translateX(-40px) !important;
}

.feed-left-sidebar, div[aria-labelledby="search-filters-title"], #repos-file-tree{
    background: rgba(135, 206, 235, 0.41) !important;
}

#query-builder-test-clear-button svg path{
    display: none !important;
}
#query-builder-test-clear-button svg{
    background: url("images/error-16.png") !important;
}
.Popover.js-hovercard-content *{
    color: #fffc !important;
}
